{% extends "base2.html" %}

{% block content %}

<h1>Employee Login:</h1>

{{ message }}
<form id="employee_login_form" method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Login" />
</form>

<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}
</style>
<a href="/login/">
    <button class="button">Customer Login</button>
</a>

{% endblock %}